* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.header {
  width: 100%;
  height: 100px;
  /* background-color: red; */
  border-bottom: 0.1rem solid #dadada;

  display: flex;
  align-items: center;
  justify-content: space-around;

  padding: 1rem 0rem;
}   

.header .content1
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .logo img {
  max-width: 6rem;
}

.header .location{
    padding: 0rem 0.6rem;
}

.header .location h1 {
  font-size: 1.4rem;
  font-weight: 500;
}

.header .location p {
  font-size: 0.7rem;
}

.header .searchbox {
  display: flex;
  gap: 0;

  justify-content: center;
  align-items: center;
}

.header .searchbox i {
  background-color: gainsboro;
  padding: 1.3rem;

  display: flex;
  justify-content: center;
  align-items: center;
  border: none;

  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
}

.header .searchbox input {
  background-color: gainsboro;
  padding: 1.3rem;
  border: none;

  width: 500px;

  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

.header .searchbox input:focus-visible {
  outline: none;
}

.header .login button {
  padding: 1rem 2rem;
  border-radius: 0.4rem;
  border: 0;
  cursor: pointer;
  background-color: gainsboro;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  -ms-border-radius: 0.4rem;
  -o-border-radius: 0.4rem;
}


.header .content3
{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.header .cart {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0rem;
}

.header .cart i {
  columns: white;
  background-color: green;
  padding: 1rem;
  cursor: pointer;

  border-top-left-radius: 0.4rem;
  border-bottom-left-radius: 0.4rem;
}

.header .cart button {
  padding: 1rem;
  cursor: pointer;
  color: #fff;
  border: 0;
  background-color: green;
  border-top-right-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
}


/* desiging banner section:  */
.banner-section{
    /* first we decide the screen size:  */
    max-width: 1280px;
    margin: 3rem auto;
}

.banner-section img{
    width: 100%;
}

/* designing order section:  */
.order-banner
{
    display: flex;
    max-width: 1280px;
    margin: 3rem auto;
}

/* we need to put in the same width so we use flex-basis, taht takes complete witdth, and manage the items :  */

.order-banner-items {
    flex-basis: 27%;
    margin: 1rem;
}

.order-banner-items img{
    width: 100%;
}

/* category section  */
.category-section
{
    max-width: 1280px;
    margin:0  auto;
}

.category-items
{
    display: flex;
    flex-wrap: wrap;
}

.products
{
    flex-basis: 10%;
}

.category-items .products img{
    width: 100%;
}

/* Desiging of Product section: */
.common-head
{
    max-width: 1280px;
    margin: 2rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.common-head h1{
    font-size: 1.4rem;
}

.common-head .see{
    color: green;
    font-size: 1rem;
    cursor: pointer;
}


/* Desigining the product card:  */

.product-container
{
    max-width: 1280px;
    display: flex;
    flex-basis: 16%;
    margin:0 auto;
    gap: 1rem   ;
}

.product-box
{
    width: 100%;
    border: 0.1rem solid #dadada;
    border-radius: 0.5rem;
    padding: 0.9rem 0.2rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
}

.product-info .product-img
{
    width: 10rem; 
    margin: 0.3rem 1rem;
    
}

.product-info .product-img .time{
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 0;
    padding: 0;
    font-size: 0.9rem;
}

.product-info .product-img img{
    width: 100%;
}

.product-info .product-content
{
    display: flex;
    padding: 0.2rem;
    flex-direction: column;
    gap: 0.1rem;
}


.product-info .product-content .cont-head
{
    font-weight: 500;
}

.product-info .product-content .weight
{
    font-size: 0.9rem;
}

.product-info .product-content .price-info
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-info .product-content .price-info .add
{
    padding:0.3rem 0.8rem;
    color: white;
    cursor: pointer;
    background-color: green;
    border: none;
    outline: none;
    border-radius: 0.2rem;
    -webkit-border-radius: 0.2rem;
    -moz-border-radius: 0.2rem;
    -ms-border-radius: 0.2rem;
    -o-border-radius: 0.2rem;
}


/* design of basic footer:*/

footer{
    text-align: center;
    margin: 2rem 0 0 0;
    padding: 2rem 0 1rem 0;
    background-color: #dadada;
}
